/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    width: 80%;
    margin: 20px auto;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-input {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    border: 2px solid #ddd;
    border-radius: 4px;
    outline: none;
}

#search-input:focus {
    border-color: #4CAF50;
}

.search-btn {
    display: flex;
    align-items: center;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

.search-btn img {
    width: 16px;  /* Establecer el tamaño de la imagen */
    height: 16px;
    margin-right: 8px;  /* Espacio entre la imagen y el texto */
}

/* Resultados */
.results {
    margin-top: 20px;
}

.results-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    justify-items: center;
}

.game-card {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.game-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.game-card img {
    width: 150px;
    height: auto;
    border-radius: 5px;
}

h3 {
    color: #333;
    font-size: 16px;
    margin-top: 10px;
}

p {
    color: #666;
    font-size: 14px;
}

/* Mensajes de error */
.error {
    color: red;
    font-weight: bold;
    margin-top: 20px;
}
